[user]
	name = Zach Romani
	email = zach.romani@hotelengine.com
	# Set name and email locally per-machine:
	#   git config --global user.name "Your Name"
	#   git config --global user.email "you@example.com"
[pull]
	rebase = true
[core]
	hooksPath = /Users/zachromani/.dotfiles/git/.config/hooks
[fetch]
	pruneTags = true
	prune = true
[init]
	defaultBranch = main
[url "git@github.com:"]
    insteadOf = https://github.com/
