[user]
	name = Zach Romani
	email = zach.romani@hotelengine.com
[pull]
	rebase = true
[core]
	hooksPath = /Users/zachromani/.dotfiles/git/.config/hooks
[fetch]
	pruneTags = true
	prune = true
[init]
	defaultBranch = main
[url "git@github.com:"]
    insteadOf = https://github.com/
[maintenance]
	repo = /Users/zachromani/work/engine-booking-api
	repo = /Users/zachromani/work/engine-booking-deploy
	repo = /Users/zachromani/work/engine-public-contracts
	repo = /Users/zachromani/work/engine-rate-history
	repo = /Users/zachromani/work/engine-internal-contracts
	repo = /Users/zachromani/.dotfiles
