"*":
  "advanced-open-file":
    createDirectories: true
  core:
    disabledPackages: [
      "language-hyperlink"
    ]
    packagesWithKeymapsDisabled: [
      "last-cursor-position"
      "rspec"
      "git-blame"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 13
  "exception-reporting":
    userId: "b52f92a7-7543-11a3-9f8b-0c16b527f4c8"
  "linter-ui-default": {}
  rspec:
    command: "rspec"
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
  "todo-show": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
