"*":
  "advanced-open-file":
    createDirectories: true
    createFileInstantly: true
  core:
    disabledPackages: [
      "language-hyperlink"
    ]
    packagesWithKeymapsDisabled: [
      "last-cursor-position"
      "rspec"
      "git-blame"
      "recent-files-fuzzy-finder"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
    titleBar: "custom"
  editor:
    fontSize: 11
  "exception-reporting":
    userId: "b52f92a7-7543-11a3-9f8b-0c16b527f4c8"
  "linter-ui-default": {}
  "one-dark-ui":
    tabSizing: "Minimum"
  rspec:
    command: "rspec"
  "ruby-block":
    highlightLine: false
    highlightLineNumber: true
    showBottomPanel: false
  "seti-syntax": {}
  "seti-ui":
    compactView: true
    disableAnimations: true
    fileIcons: false
    hideProjectTab: true
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
  "todo-show": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode-plus": {}
  welcome:
    showOnStartup: false
