# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * http://flight-manual.atom.io/using-atom/sections/basic-customization/#_customizing_keybindings
# * http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on macOS and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * http://flight-manual.atom.io/hacking-atom/sections/debugging/#check-the-keybindings
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

'atom-text-editor.vim-mode-plus.insert-mode.autocomplete-active':
  'escape': 'autocomplete-plus:cancel'

'.platform-darwin atom-text-editor':
  'ctrl-p': 'fuzzy-finder:toggle-file-finder'
  'ctrl-w m':  'pane:merge-all-panes'
  'ctrl-w w': 'pane:close-other-items'

'.fuzzy-finder atom-text-editor[mini]':
  'ctrl-v': 'pane:split-right'
  'ctrl-s': 'pane:split-down'
  'alt-enter': 'custom:replace-tab'
#vim
'atom-text-editor.vim-mode-plus.insert-mode':
  'j k': 'vim-mode-plus:activate-normal-mode'
  'z z': 'custom:byebug'
  'q q': 'custom:todo'

'atom-text-editor.vim-mode-plus.normal-mode':
  'L': 'vim-mode-plus:move-to-last-character-of-line'
  'H': 'vim-mode-plus:move-to-first-character-of-line'
  'space': 'vim-mode-plus:inner-word'
  'down': 'keystroke d d p' # move line down
  'up': 'keystroke d d k P' # move line up'space k': 'keystroke 5 k'
  '; j': 'keystroke 5 j'
  '; k': 'keystroke 5 k'

'atom-text-editor.vim-mode-plus.visual-mode':
  'L': 'vim-mode-plus:move-to-last-character-of-line'
  'H': 'vim-mode-plus:move-to-first-character-of-line'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'ctrl-e': 'recent-files-fuzzy-finder:toggle-finder'
  'ctrl-,': 'vim-mode-plus:mini-scroll-down'
  'ctrl-.': 'vim-mode-plus:mini-scroll-up'

'atom-text-editor':
  'ctrl-k': 'pane:show-next-item'
  'ctrl-j': 'pane:show-previous-item'

'atom-workspace':
  'ctrl-h': 'last-cursor-position:previous'
  'ctrl-l': 'last-cursor-position:next'
  'cmd-]': 'editor:unfold-current-row'
  'cmd-[': 'editor:fold-current-row'

'atom-workspace atom-text-editor:not([mini])':
  'cmd-[': 'unset!'
  'cmd-]': 'unset!'


'atom-text-editor:not([mini])':
  'cmd-alt-b': 'git-blame:toggle'

'body':
  'cmd-ctrl-w': 'tabs:close-all-tabs'
  'ctrl-p': 'fuzzy-finder:toggle-file-finder'
  'ctrl-e': 'recent-files-fuzzy-finder:toggle-finder'
